// ┌──────────────────────────────┐
// │ General & Notification       │
// └──────────────────────────────┘
config-notification {
    disable-failed
}

// ┌──────────────────────────────┐
// │ Gestures                     │
// └──────────────────────────────┘
gestures {
    hot-corners {
        off
    }
}


// ┌──────────────────────────────┐
// │ Input Devices                │
// └──────────────────────────────┘
input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-profile "flat"
        dwt
        scroll-factor 0.2
    }

    mouse {
    }

    trackpoint {
    }

    focus-follows-mouse
}


// ┌──────────────────────────────┐
// │ Window Layout & Appearance   │
// └──────────────────────────────┘
layout {
    background-color "transparent"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    border {
        off
        width 4
        active-color   "#707070"
        inactive-color "#d0d0d0"
        urgent-color   "#cc4444"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
    }
}


// ┌──────────────────────────────┐
// │ Layer-Shell Rules            │
// └──────────────────────────────┘
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}


// ┌──────────────────────────────┐
// │ Overview                     │
// └──────────────────────────────┘
overview {
    workspace-shadow {
        off
    }
}


// ┌──────────────────────────────┐
// │ Environment Variables        │
// └──────────────────────────────┘
environment {
    XDG_CURRENT_DESKTOP "niri"
}


// ┌──────────────────────────────┐
// │ Hotkey Overlay & Preferences │
// └──────────────────────────────┘
hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// ┌──────────────────────────────┐
// │ Animations                   │
// └──────────────────────────────┘
animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}


// ┌──────────────────────────────┐
// │ Window Rules                 │
// └──────────────────────────────┘
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}

window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}

window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}


// ┌──────────────────────────────┐
// │ Debug & Special Options      │
// └──────────────────────────────┘
debug {
    honor-xdg-activation-with-invalid-serial
}

recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}
